<div *ngIf="contact">

    <h2>{{contact.Name | uppercase}} Information</h2>
    <div>
      <label>Name:
        <input [(ngModel)]="contact.Name" placeholder="name"/>
      </label>
    </div>
    <div>
        <label>Address:
          <input [(ngModel)]="contact.Address" placeholder="Address"/>
        </label>
    </div>
    <div>
        <label>Email:
          <input [(ngModel)]="contact.Email" placeholder="name@email.com"/>
        </label>
    </div>
    <div>
        <label>Phone:
          <input [(ngModel)]="contact.Phone" placeholder="###-###-####"/>
        </label>
    </div>
  </div>

  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>


